*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* Main Page */
main {
    max-width: 1280px;
    display: flex;
    margin: auto;
    gap: 6px;
}
/* Input and Select Style */
input, select{
    padding: 5px;
    border: 2px solid #3E5879;
    border-radius: 5px;
    margin: 5px;
    width: 100%;

}
input:hover{
    background-color: lightgray;
}
/* Buttons */
#button{

    background-color: #aa1a04;
    border: 1px solid black;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    width: 100%;
}
#button:hover{
    background-color: darkblue;
}
#buttonAdd{
    background-color: rgb(37, 31, 200);
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    width: 100%;

}
#buttonAdd:hover{
    background-color: rgb(3, 8, 63);
}

#buttonRemove{
    background-color: rgb(218, 33, 33);
    color: aliceblue;
    width: 100%;
    padding: 10px;
    margin: 5px;
    justify-content: center;

}
#buttonRemove:hover{
    background-color: darkred;
}
#buttonUpdate{
    background-color: burlywood;
    color: black;
    padding: 10px;
    margin: 5px;
    justify-content: center;

}
#buttonUpdate:hover{
    background-color: darkgoldenrod;
}
/* All Boxes */
.box1 {
    height: auto;
    width: 900px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: #213555;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
.box2 {
    height: auto;
    width: 50%;
    border: 1px solid black;
    background-color: #3E5879;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.box22a {
    width: 50%;
    border: 1px solid black;
    background-color:#e4ece7;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.box22b {
    width: 50%;
    border: 1px solid black;
    background-color:#e4ece7;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.box3 {
    height: auto;
    width: auto;
    border: 1px solid black;
    background-color: #2C2E39;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}
.box3 h2 {
    text-align: center;
    white-space: nowrap;

}
/* Token */
.token-list {
    list-style-type: none;
    padding: 2px;
    margin: 1px;
}

.token-list li {
    text-align: center;
    padding: 2px;
    margin: 1px;

}
/* Sections */
.section2 {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-bottom: 6px;
}
/* Icons */
i{

    color: #fff;
    height: auto;
    width: auto;
    margin: 10px;
    height: 20px;
}
i:hover{
    color: blue;
}
