body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
}

h2 {
    color: #000000;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

a:hover {
    color: darkred;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input:hover, textarea:hover {
    border: 1px solid #007BFF;
    background-color: #ebebeb;
}
button {
    background: #de1308;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #680801;
}

#add_button {
    background: #00ad20;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#add_button:hover {
    background: #005d20;
}

button, #add_button {
    margin: 5px;
}